{% extends "base.html" %}

{% block msg %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li class="{{ Alert }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

{% endblock %}

{% block contenido %}

<h1> Ejercicio 4</h1>
<h2> Posición en Fibonacci </h2>
<div>
    <a>Introduce el número de la posición de la sucesión de Fibonacci que desea obtener</a>
</div>
<div>
    <form class="form-horizontal" action="{{ url_for("ejercicio4") }}"" method="post">
        <div class="form-group mt-2">
        <label class="control-label col-sm-2" for="email">Número:</label>
            <div class="col-sm-10">
                <input name="number" type="number" class="form-control" id="InputNumber" placeholder="Inserte un número...">
            </div>
        </div>
        <div class="form-group mt-3">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-outline-success">Prueba</button>
            </div>
        </div>
    </form>
</div>

<script>
    var input = document.getElementById('InputNumber');
    input.focus();
    input.select();
</script>
{% endblock %}