{% extends "base.html" %}

{% block msg %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li class="{{ Alert }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

{% endblock %}

{% block contenido %}

<h1> Página Principal</h1>
<h2> Contenidos </h2>
<div class="mt-2">
    <a>Esta es la página principal. Desde aquí podemos acceder a las funcionalidades de Registro e Inicio de Sesión.</a>
</div>

{% endblock %}